### Emacs
\#*#
\.#*
*~

### Python
*.pyc
*.egg-info/
build/
dist/

### Tests
field_test.json
chunk_test.json
test_target_fields.csv
test_windows.csv

### Latex
*.fls
*.aux
*.log
*.fdb_*
*.out
*.blg
*.bbl
