### Emacs
\#*#
\.#*
*~

### Data & Test files
obztak/data/*
night_test
field_test.json
chunk_test.json
test_target_fields.csv
test_windows.csv
delve-deep-fields.fits.fz
delve-mc-fields.fits.fz
delve-wide-fields.fits.fz

### Python
*.pyc
*.egg-info/
build/
dist/


### Latex
*.fls
*.aux
*.log
*.fdb_*
*.out
*.blg
*.bbl
